<div id="intro" class="view">
    <div class="full-bg-img"></div> 
</div> 

<div id="greeting">

    <div class="">
        <h1 class="text-white">DevLegnd</h1>
        <p class="lead text-white">Un reto, una meta.</p>
    </div>
    
    <div class="">
        <h2 class="text-white">Soluciones de software</h2>
        <h3 class="text-white">con los m&aacute;s &aacute;ltos est&aacute;ndares, las mejores tecnolog&iacute;as,</h3>
        <h3 class="text-white">y en la plataforma de tu preferencia.</h3>
        <div class="">
            <a href="http://play.google.com/store/apps/details?id=com.devlegnd.seriestream&hl=es" class="fa fa-android"></a>
        
            <a href="http://play.google.com/store/apps/details?id=com.devlegnd.seriestream&hl=es" class="fa fa-android"></a>
    
            <a href="http://play.google.com/store/apps/details?id=com.devlegnd.seriestream&hl=es" class="fa fa-android"></a>
        </div>
    </div>
</div>